@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee|Ubuntu');
* {
  margin: 0px;
  padding: 0px;
}

body {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

table, th, td {
    border: 1px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.25fr 10px 0.75fr;
  grid-template-rows: auto 20px auto 20px auto 20px auto;
  background: #f2f2f2;
  height: 800px;
}

.grid-element {
  background-color: #444;
  color: #ff0000;
  padding: 20px;
  font-size: 2em;
}
.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background: #d9d9d9;
  height: 80px;
  color: #4d4d4d;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
  background: #d9d9d9;
  font-size: 25px;
  color: #4d4d4d;
}
#gif{
  width: 230px;
}
#img {
  width: 300px;
  float: right;
}
#h1a {
  font-size: 30px;
}
.main {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background: #d9d9d9;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: #4d4d4d;
  font-weight: bold;
}

.extra {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  background: #d9d9d9;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
  background: #d9d9d9;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}
/* unvisited link */
a:link {
    color: #4d4d4d;
}

/* visited link */
a:visited {
    color: #4d4d4d;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: red;
}

#tex{
  font-size: 15px;
}
